body{
	background-color:black;
}

#display{
	background-color:#85d9c9;
	color:white;
	text-align:right;
	font-size:35px;
	border-bottom:solid 5px grey;
	height:80px;
	width:340px;
}
#mainframe{
	height:500px;
	width:350px;
	position: absolute;
 	left: 50%;
 	margin-left:-175px;
 	top: 50%;
 	margin-top:-250px;
 	border:solid 5px grey;
	background-color:#020829; 
}

#func{
	margin-top:10px;
	display:flex;
	justify-content:space-around;
}
button{
	width:70px;
	height:70px;
	background-color:#020829;
	color:cyan;
}

#on-off{
	color:red;
}
#equal{
	color:white;
}

#zero-btn{
	width:150px;
}